@import "tailwindcss";
body{
    background-color: #f9fafb;;
}

body {
  padding-top: 64px; /* высота хедера на телефоне */
}

@media (min-width: 640px) {
  body {
    padding-top: 80px;
  }
}

@media (min-width: 768px) {
  body {
    padding-top: 96px;
  }
}